<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>big red button</title>
<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function() {
		document.querySelector('button').addEventListener('click', function() {
			const now = new Date();

			return fetch('http://localhost:{{rest_port}}/update', {
				method : 'POST',
				mode : 'no-cors',
				body : 'clicked' + now
			}).then(function(response) {
				return response.text();
			}).then(function(data) {
				// TODO for some reason there is no response
				console.log('Success:', data);
			});
		});
	});
</script>
</head>
<body>
    <button>Big red button</button>
</body>
</html>
