<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>big red button</title>
<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function() {
		document.querySelector('button').addEventListener('click', function() {
			const move = document.querySelector('input').value;

			return fetch('http://{{rest_hostname}}:{{rest_port}}/update', {
				method : 'POST',
				body : move
			}).then(function(response) {
				return response.text();
			}).then(function(data) {
				document.querySelector('pre').textContent = data;
			});
		});
	});
</script>
</head>
<body>
    <input value="e2e4">
    <button>Big red button</button>
    <pre>r n b q k b n r
p p p p p p p p
. . . . . . . .
. . . . . . . .
. . . . . . . .
. . . . . . . .
P P P P P P P P
R N B Q K B N R</pre>
</body>
</html>
