export const HTTP = '{{configurations.HTTP}}';
export const WS = '{{configurations.WS}}';
export const HOSTNAME = '{{configurations.HOSTNAME}}';
export const REST_PORT = '{{configurations.REST_PORT}}';
export const CHAT_PORT = '{{configurations.CHAT_PORT}}';
// login stuff
{% if session.logged_in %}
	export const I_AM = '{{session.logged_in}}';
{% else %}
	throw Exception('NO IAM');
{% endif %}
